/* utils */
.bg-gradient-blue{
  background-image: linear-gradient(#508bb3,#2075bf);
}

.container {
  width: 90%;
  padding-right: 10px!important;
  padding-left: 10px!important;
}

body{
  overflow-x: hidden;
}

/* Navbar */
.navbar-brand img{
  display: block;
  width:40px;
  height: 40px;
  border-radius: 50%;
}
.navbar a {
  color: rgb(52, 47, 47);
}
.navbar a:hover{
  color: #00b2d6;
}
.navbar .nav-item{
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 0.5rem!important;
  padding-right: 1rem;
}

.navbar .nav-item.active{
  border-left: #00b2d6 2px solid;
}



/* Carousel */

.carousel-item {
  height: 400px;
}

.carousel-image-1 {
  background: url('../img/slide-01.jpg') no-repeat center center/cover;
}

.carousel-image-2 {
  background: url('../img/automation.jpg') no-repeat center center/cover;
 
}

.carousel-image-3 {
  background: url('../img/it.jpg') no-repeat center center/cover;
}

.carousel-image-4 {
  background: url('../img/Mechanic.jpg') no-repeat center center/cover;
}

.carousel-image-5 {
  background: url('../img/garbage-1472670_1920.jpg') no-repeat center center/cover;
}

/* Home Heading */
#home-heading{
  position: relative;
  min-height: 200px;
  background: url('../img/lights.jpg') no-repeat fixed center center/cover;
  text-align: center;
  color: #fff;
}
.dark-overlay{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.5)
}

#gallery{
  background: #f4f4f4;
}


/* About Page */
#page-header{
  height: 250px;
  background: url('../img/slide-0.jpg') center center/cover;
  border-bottom: 1px #eee solid;
  padding-top: 40px;
  color: #eee;
}


.about-img {
  margin-top: -50px;
}

#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}



